body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-gap: 1px;
}

.box{
    height: 200px;
    width: 100%;
    
}

.box1{
    background-color: rgb(0, 255, 221);
}

.box2{
    background-color: rgb(255, 14, 215);
}

.box3{
    background-color: rgb(92, 8, 92);
}

.box4{
    background-color: rgb(26, 219, 26);
}

.box5{
    background-color: rgb(202, 202, 0);
}

.box6{
    background-color: rgb(0, 255, 106);
}

.box7{
    background-color: rgb(136, 19, 19);
}

.box8{
    background-color: rgb(168, 146, 245);
}

.box9{
    background-color: rgb(228, 135, 135);
}

@media (width <= 320px){
    .box4, .box5, .box6, .box7,  .box8, .box9{
        display: none;
    }
}

@media (width >= 321px) and (width <= 768px){

    .container{
        grid-template-columns: 1fr 1fr;
    }

    .box7, .box8, .box9{
        display: none;
    }
}

@media (width >= 769px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}